:host {
  display: block;
}

h2 {
  font-size: 2.5rem;
  margin: 0 0 12px;
  color: #455f8c;
  text-align: center;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1550px) {
  .cards-list {
    grid-template-columns: 1fr;
  }
}
