// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'tailwindcss';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #fffefb;
}

.page {
  min-height: 100%;
  padding: 52px 120px 24px 120px;
  box-sizing: border-box;
}

.page-content {
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .page {
    padding: 32px 72px 16px 72px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 20px 14px 14px 20px;
  }
}
